PORT=3001
NODE_ENV=development
JWT_SECRET=thrift_calido_secret_2026
ALLOW_AUTH_SEED=false

EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_app_password

PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=tu_paypal_sandbox_client_id
PAYPAL_CLIENT_SECRET=tu_paypal_sandbox_client_secret
PAYPAL_CURRENCY=MXN
